// ==================== Error Component ====================
.resource-error-wrap {
	margin-top: 10vh;
	text-align: center;
}

.resource-error-title {
	font-size: $h1-size;
}

.resource-error-text {
	font-size: $p-size;
}
