// ==================== Posts Section ====================
.posts-section {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.posts-inner-wrap {
	width: $post-width;
}

// ------------- Posts Header -------------
.posts-header-wrap {
	margin-bottom: 1rem;
	text-align: center;

	.posts-header-title {
		font-size: $h1-size;
	}
}

// ------------- Posts Input -------------
.posts-submit-wrap {
	margin-bottom: 2rem;

	.posts-submit-title-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}

	.posts-submit-title {
		font-size: $h2-size - 0.5rem;
	}

	.posts-submit-profile-img-wrap {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
	}

	.posts-submit-profile-img {
		display: block;
		height: 100%;
	}

	.posts-submit-input {
		display: block;
		width: 100%;
		margin-bottom: 1.65rem; // + 0.65rem for btn padding
		padding: 0.25rem;
		font-size: $p-size;
		border: 1px solid #ccc;
		outline: none;
	}

	.posts-submit-btn-wrap {
		display: flex;
		justify-content: space-between;
	}

	.posts-submit-btn {
		@include btn-default;
	}
}

// ------------- Posts List -------------
.post-item {
	margin-bottom: 2rem;
	padding: 1rem 0;
	border: 1px solid #ccc;
}

// Post Header
.post-item-header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;

	.post-item-header-info-wrap {
		padding-left: 1rem;
	}

	.post-item-header-img-wrap {
		padding-right: 1rem;
	}

	.post-item-header-img {
		width: 40px;
	}
}

.post-item-username {
	font-size: $h3-size - 0.5rem;
	font-weight: $font-semi-bold;
}

.post-item-time {
	font-size: $h4-size - 0.75rem;
	color: $dark-semi-col;
}

// Post Content
.post-item-body-wrap {
	margin-bottom: 1rem;
	padding: 0 1rem 1rem 1rem;
	border-bottom: 1px solid #ccc;
}

.post-item-body-text {
	font-size: $p-size + 0.25rem;
	word-wrap: break-word;
}

// Post Buttons
.post-item-btns-wrap {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.post-item-btns-inner-wrap {
	display: flex;
}

.post-item-btns-item-wrap {
	display: flex;
	align-items: center;
	margin-right: 2rem;

	&:last-child {
		margin-right: 0;
	}
}

.post-item-btn {
	@include btn-reset;
	margin-right: 1rem;
	font-size: 2rem;
	color: $dark-col;
	border: none;
}

.post-item-count {
	font-size: $p-size;
}

.post-item-delete-icon {
	color: #f00;
}
