.profile-section {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}

.profile-filter {
	flex: 1;
	min-height: 500px;
	margin-right: 2rem;
	background-color: #f4f4f4;
	border: 1px solid #ccc;

	.profile-filter-header {
		text-align: center;
		padding: 1rem 0;
		border-bottom: 1px solid #ccc;

		.profile-filter-header-text {
			font-size: $h3-size;
		}
	}

	.profile-filter-list {
		text-align: center;

		.profile-filter-list-link {
			display: block;
			padding: 0.75rem 0;
			font-size: $a-size;
			color: $dark-col;
			border-bottom: 1px solid #ccc;

			&:hover {
				background-color: $active-col;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.profile-deactivate-btn {
			@include btn-reset;
			display: block;
			width: 100%;
			color: $failure-col;
			border: none;

			&:hover {
				background-color: transparent;
			}
		}
	}
}

.profile-info {
	flex: 3;

	.profile-info-header {
		margin-bottom: 1rem;

		.profile-info-header-text {
			font-size: $h2-size;
		}
	}

	.profile-info-data-header {
		margin-bottom: 1rem;

		.profile-info-data-header-text {
			font-size: $h4-size;
		}
	}

	.profile-info-img-input-wrap {
		margin-bottom: 1rem;
		display: flex;
		align-items: flex-end;

		.profile-info-img-wrap {
			width: 150px;
			height: 140px;
			border-radius: 50%;
			overflow: hidden;
		}

		.profile-info-img {
			display: block;
			height: 100%;
		}

		.profile-file-upload-input {
			display: none;
		}

		.profile-file-upload-label {
			display: inline-block;
			font-size: 1.5rem;
			color: $dark-col;
			cursor: pointer;
		}
	}

	.profile-info-data-wrap {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.profile-info-data-item {
		display: flex;
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		.profile-info-data-item-label {
			flex: 1;
			font-size: $p-size;
		}

		.profile-info-data-item-input {
			flex: 3;
			padding: 0.25rem;
			font-size: $p-size;
			border: 1px solid #ccc;
			outline: none;
		}

		.profile-info-data-item-verified {
			flex: 3;
			font-size: $p-size;
		}
	}

	.profile-info-data-item-submit-btn-wrap {
		justify-content: flex-end;

		.profile-info-data-item-submit-btn {
			@include btn-default;
		}
	}
}

.profile-info-change-pw-data-wrap {
	display: flex;
}

.deactivate-modal {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.deactivate-modal-open {
	display: flex !important;
	justify-content: center;
}

.deactivate-modal-content {
	width: 250px;
	height: fit-content;
	margin-top: 25vh;
	padding: 1rem;
	border-radius: 5px;
	background-color: #f4f4f4;
}

.deactivate-modal-close-btn-wrap {
	text-align: right;
}

.deactivate-modal-close-btn {
	@include btn-reset;
	font-size: 2rem;
	color: #ccc;
	border: none;
	background-color: transparent;
}

.deactivate-modal-content-inner-wrap {
	text-align: center;
}

.deactivate-modal-text {
	margin-bottom: 1rem;
	font-size: $p-size;
}

.deactivate-modal-accept-btn {
	@include btn-default;
	margin-bottom: 0.65rem;
	background-color: $failure-col;
}

@media screen and (max-width: $lg-break-point) {
	.profile-filter {
		flex: 1.25;
	}
}

@media screen and (max-width: $md-break-point) {
	.profile-section {
		flex-direction: column;
	}

	.profile-filter {
		min-height: 100%;
		margin: 0 0 2rem 0;
	}
}

@media screen and (max-width: $sm-break-point) {
	.profile-info {
		margin-bottom: 2rem;
	}

	.profile-info-header {
		text-align: center;
	}

	.profile-info-data-header {
		text-align: center;
	}

	.profile-info-data-item {
		flex-direction: column;
		text-align: center;
	}

	.profile-info-data-item-submit-btn-wrap {
		align-items: center;
	}
}
