.sp-post-item-wrap {
	display: flex;
	justify-content: center;
}

.sp-post-item {
	width: 600px;
	margin-top: 2rem;
	padding-top: 1rem;
	border: 1px solid #ccc;
}

.sp-post-item-username {
	font-size: $h3-size + 0.25rem;
}

.sp-post-item-time {
	font-size: $h4-size;
	color: $dark-semi-col;
}

.sp-post-item-header-img {
	width: 50px !important;
}

.sp-post-item-body-text {
	font-size: $p-size + 0.5rem;
}

.sp-post-item-btns-wrap {
	margin-bottom: 1rem;
}

// Comment Input
.post-item-comment-input-wrap {
	padding: 2rem 1rem;
	border-top: 1px solid #ccc;

	.post-item-comment-input-inner-wrap {
		display: flex;
	}

	.post-item-comment-input {
		width: 100%;
		padding: 0.25rem;
		font-size: $p-size;
		border: 1px solid #ccc;
		outline: none;
	}

	.post-item-comment-btn {
		@include btn-reset;
		padding: 0 2rem;
		color: $light-col;
		background-color: $btn-col;
		border: none;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

		&:hover {
			opacity: 0.9;
		}
	}
}

// Comment
.post-item-comment-section {
	border-top: 1px solid #ccc;
}

.post-item-comment {
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #ccc;
}

.post-item-comment-header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.post-item-comment-body-text {
	font-size: $p-size;
}
