.nav {
	background-color: #f4f4f4;

	.nav-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}

	.nav-logo-title {
		font-size: $h2-size;
		color: #333;
	}

	.nav-user-logged-wrap {
		display: flex;
		align-items: center;
	}

	.nav-search-bar {
		margin-right: 2rem;
		padding: 0.5rem;
		font-size: $p-size;
		border-radius: 5px;
		border: 1px solid #ccc;
		outline: none;
	}

	.nav-user-logout-btn {
		margin-left: 2rem;
		font-size: 1.5rem;
		color: $dark-col;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.nav-user-login-link {
		font-size: 1.75rem;
		color: $dark-col;
	}
}

@media screen and (max-width: 450px) {
	.nav-inner {
		flex-direction: column;
	}
}
