.nav {
	background-color: #f4f4f4;

	.nav-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}

	.nav-logo-title {
		font-size: $h2-size;
		color: #333;
	}

	.nav-user-logged-wrap {
		display: flex;
		align-items: center;
	}

	.nav-search-bar-wrap {
		position: relative;

		.nav-search-bar {
			margin-right: 2rem;
			padding: 0.5rem;
			font-size: $p-size;
			border-radius: 5px;
			border: 1px solid #ccc;
			outline: none;
		}

		.searched-users-wrap {
			position: absolute;
			width: calc(100% - 2rem); // - 2rem margin right
			border: 1px solid #ccc;
			background-color: #f4f4f4;
			z-index: 999;

			.searched-users-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1rem 0.75rem;
				border-bottom: 1px solid #ccc;

				&:hover {
					opacity: 0.9;
				}

				&:last-child {
					border-bottom: 0;
				}
			}

			.searched-users-item-data-username {
				font-size: $h4-size - 0.5rem;
			}
		}
	}

	.nav-user-logout-btn {
		margin-left: 2rem;
		font-size: 1.5rem;
		color: $dark-col;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.nav-user-login-link {
		font-size: 1.75rem;
		color: $dark-col;
	}
}

@media screen and (max-width: 450px) {
	.nav-inner {
		flex-direction: column;
	}
}
