// ==================== Imports ====================
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// ==================== Variables ====================

// ------------- Layout -------------
$section-width: 1300px;

$lg-break-point: 1300px;
$md-break-point: 768px;
$sm-break-point: 425px;

// ------------- Typography -------------
$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
$h4-size: 2.25rem;

$p-size: 1.5rem;
$a-size: 1.5rem;

$font-bold: 700;
$font-semi-bold: 600;
$font-lite: 400;

$main-font-family: "Open Sans", sans-serif;

// ------------- Colors -------------
$body-bg: #fff;
$dark-col: #333;
$light-col: #fff;

$link-col: #00afdc;
$success-col: #00ff96;
$failure-col: #eb435c;

// ==================== Mixins ====================
@mixin section-center {
	width: $section-width;
	margin: 0 auto;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ==================== Utility Classes ====================
.section-center {
	width: $section-width;
	margin: 0 auto;
}

.btn-disabled {
	pointer-events: none;
}

// ============= Default Resets =============
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	font-family: $main-font-family;
	background-color: $body-bg;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

// ============= Media Queries =============
@media screen and (max-width: 1300px) {
	.section-center {
		width: 95%;
	}
}
