// ==================== Imports ====================
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// ==================== Variables ====================

// ------------- Layout -------------
$section-width: 1300px;
$post-width: 500px;

$lg-break-point: 1300px;
$md-break-point: 768px;
$sm-break-point: 425px;

// ------------- Typography -------------
$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
$h4-size: 2.25rem;

$p-size: 1.5rem;
$a-size: 1.5rem;

$font-bold: 700;
$font-semi-bold: 600;
$font-lite: 400;

$main-font-family: "Open Sans", sans-serif;

// ------------- Colors -------------
$body-bg: #fff;
$dark-col: #333;
$dark-semi-col: #666;
$light-col: #fff;

$link-col: #00afdc;
$active-col: #20ac99;
$success-col: #00ff96;
$failure-col: #eb435c;

// ==================== Mixins ====================
@mixin section-center {
	width: $section-width;
	margin: 0 auto;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin btn-reset {
	background-color: transparent;
	border: 1px solid #ccc;
	outline: none;
	cursor: pointer;
}

@mixin btn-default {
	@include btn-reset;
	padding: 0.65rem 2.25rem;
	font-size: $p-size;
	color: $light-col;
	background-color: $active-col;
	border: none;
	border-radius: 5px;
}

// ==================== Utility Classes ====================
.section-center {
	width: $section-width;
	margin: 0 auto;
}

.btn-disabled {
	pointer-events: none;
}

.liked {
	color: $active-col;
}

.input-danger {
	background-color: #f58e9e;
	border: 1px solid #f58e9e !important;
}

.loader-wrap {
	margin-top: 10vh;
	display: flex;
	justify-content: center;
}

.profile-img-wrap {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-img-wrap-lg {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-img {
	display: block;
	height: 100%;
}

// ==================== Default Resets ====================
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	font-family: $main-font-family;
	background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $font-lite;
	color: $dark-col;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

// ==================== Media Queries ====================
@media screen and (max-width: 1300px) {
	.section-center {
		width: 95%;
	}
}
